<!DOCTYPE html>
<html>
	<head>
		<title>Pragmatic Programmer Online Books</title>
		<%= stylesheet_link_tag    'scaffold', 'data-turbolinks-track' => true %>
		<%= stylesheet_link_tag    'depot', media: 'all', 'data-turbolinks-track' => true %>
		<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
		<%= csrf_meta_tags %>
	</head>
	<body id="store" >
		<div id="banner" >
			<%= image_tag("logo.png") %>
			<%= @page_title || "Pragmatic Bookshelf" %>
		</div>
		<div id="columns" >
			<div id="side" >
				<% if @cart %>
					<%= hidden_div_if(@cart.line_items.empty?, id: "cart") do %>
						<%= render @cart %>
					<% end %>
				<% end %>

				<a href="http://www...." >Home</a><br />
				<a href="http://www..../faq" >Questions</a><br />
				<a href="http://www..../news" >News</a><br />
				<a href="http://www..../contact" >Contact</a><br />
			</div>
			<div id="main" >
				<%= yield %>
			</div>
		</div>
	</body>
</html>
